html, body {
    margin: 20px;
    background-color: rgb(4, 6, 22);
    font-family: var( --font-family );
}

*{
    color: rgba(255, 255, 255, 0.87);
}

h1{
    font-family: manga;
    font-size: 45px;
    margin-bottom: 33px;
}

.divider{
    margin: 50px 0 20px 0;
}

.score-card h2, .demog-card h2, .type-card h2, .decade-card h2{
    font-family: manga;
    font-size: 35px;
    color: white;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.searchDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts-div{
    display: grid;
    grid-template-columns: 50% 50%;
}

.p-card{
    border-radius: 0.75rem !important;
    margin: 2% 5% 5% 5%;
    text-align: center;
}

.demog-card{
    grid-column: 2;
}

label{
    color: rgba(255, 255, 255, 0.87) !important;
}

.summary-card .p-card{
    transition: 300ms all;
}

.summary-card .p-card:hover{
    background: #0d3c61;
    cursor: pointer;
}

.summary-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px 0;
}

.summary-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-image img{
    border-radius: 0.75rem;
    border: 2px solid #304562;
    width: 100%;
    max-width: 400px;
    transition: 400ms all;
}

.summary-stats{
    text-align: start;
    padding: 0 20px;
}

.summary-stats h2{
    font-family: manga;
    font-size: 45px;
    color: white;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.summary-stats ul{
    list-style: none;
    text-align: start;
    padding-left: 0;
}

.summary-stats li{
    font-size: 20px;
    line-height: 36px;
}

.achivements-title{
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 40px;
    text-align: center;    
    margin-top: 40px;
}

.achivement-card{
    display: flex;
    flex-direction: row;
}

.achivement-img{
    width: 30%;
}

.achivement-img img{
    max-width: 200px;
    width: 100%;
    border-radius: 0.75rem;
}

.achivement-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.achivement-content h3{
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 42px;
    margin: 0 0;
}

.achivement-content h4{
    font-size: 23px;
    margin: 0 0;
}


@font-face{
    font-family: manga;
    src: url(./assets/fonts/manga.TTF)
}

a{
    text-decoration: none;
}