<div class="charts-div">

  <p-card class="score-card">
  
    <h2>Calificaciones</h2>
    <hr>
  
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  
  </p-card>

  <p-card class="demog-card">

    <h2>Demografías</h2>
    <hr>

    <div style="display: block">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [colors]="colors">
      </canvas>
    </div>

  </p-card>

  <p-card class="type-card">

    <h2>Tipo de anime</h2>
    <hr>

    <div style="display: block">
      <canvas baseChart
        [data]="doughnutTypeChartData"
        [labels]="doughnutTypeChartLabels"
        [chartType]="doughnutTypeChartType">
      </canvas>
    </div>

  </p-card>

  <p-card class="decade-card">

    <h2>Décadas</h2>
    <hr>
  
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartDecadeData"
        [labels]="barChartDecadeLabels"
        [options]="barChartDecadeOptions"
        [legend]="barChartDecadeLegend"
        [chartType]="barChartDecadeType">
      </canvas>
    </div>
  
  </p-card>

</div>